section {
  background: var(--background);
  padding: 2rem calc((100% - var(--section-max-width)) / 2);

  h2 {
    color: var(--primary);
    font-size: 0.75rem;
    opacity: 0.5;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 2rem;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .service {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 0 5px 1px var(--shadow);
    border-radius: 0.5rem;
    background: var(--page-background);
    padding: 1rem;
    min-height: 15rem;

    h3 {
      color: var(--primary);
      font-size: 1.5rem;
      font-weight: 600;
      margin: 0;
    }

    .button {
      width: 100%;
      margin-top: auto;
    }
  }
}
